@model SimpleListViewModel

<html>
<body>
    @if (Model.Items.Any())
    {
        <dl>
            @foreach (var document in Model.Items)
            {
                <dt>@document.CanonicalName</dt>
                <dd>@document.DocumentId</dd>
            }
        </dl>
    }
</body>
</html>
